<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Finals Data Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>NBA Finals Interactive Data Presentation</h1>
    <div id="graph"></div>
    <br>
    <!-- Pie Charts -->
    {% for game, pie_chart_data in pie_charts.items() %}
        <h2>Game {{ game }} Player Points Distribution</h2>
        {% for team, data in pie_chart_data.items() %}
            <!-- Ensure div ID is unique and correctly represents the game and team -->
            <div id="pie-chart-{{ game }}-{{ team }}"></div>
        {% endfor %}
    {% endfor %}
    <br>
    <!-- Line Charts for each game -->
    {% for game, scores in line_chart_data.items() %}
    <h2>Quarterly Field Goal Percentage for Game {{ game }}</h2>
    <div id="line-chart-{{ game }}"></div>
    {% endfor %}



    <!-- JavaScript to Render Charts -->
    <script type="text/javascript">
        // bar chart
        var graphs = {{ graphJSON | safe }};
        Plotly.newPlot('graph', graphs);

        //pie chart
        var pieCharts = {{ pie_charts | safe }};
        for (var game in pieCharts) {
            var gameData = pieCharts[game];
            for (var team in gameData) {
                var teamData = gameData[team];
                var playerNames = teamData.map(function(player) {
                    return player.player;
                });
                var playerPoints = teamData.map(function(player) {
                    return player.points;
                });

                var pieData = [{
                    values: playerPoints,
                    labels: playerNames,
                    type: 'pie'
                }];

                var pieLayout = {
                    title: `Player Points Distribution for ${team} in Game ${game}`
                };

                // Ensure div ID is built correctly to match the HTML
                Plotly.newPlot('pie-chart-' + game + '-' + team, pieData, pieLayout);
            }
        }

        //line chart
        var lineChartData = {{ line_chart_data | safe }};
        for (var game in lineChartData) {
            var gameScores = lineChartData[game];
            var trace1 = {
                x: ['Q1', 'Q2', 'Q3', 'Q4'], 
                y: gameScores['Cavaliers'],
                type: 'scatter',
                mode: 'lines+markers',
                name: 'Cavaliers',
                marker: {color: 'blue'}
            };
            var trace2 = {
                x: ['Q1', 'Q2', 'Q3', 'Q4'], 
                y: gameScores['Warriors'],
                type: 'scatter',
                mode: 'lines+markers',
                name: 'Warriors',
                marker: {color: 'gold'}
            };

            var data = [trace1, trace2];
            var layout = {
                title: 'Quarterly Field Goal Percetage for Game ' + game,
                xaxis: {
                    title: 'Quarter'
                },
                yaxis: {
                    title: 'FG%'
                }
            };

            Plotly.newPlot('line-chart-' + game, data, layout);
        }


    </script>

    <a href="select_game_for_player">Start to select a game for key player comparison</a>
    <br>
    <br>
    <a href="select_game_for_team">Start to select a game for team comparison</a>

    <!-- <h2>Select a Game</h2>
    <ul>
        {% for game in games %}
            <li><a href="{{ url_for('select_players', game_name=game) }}">{{ game }}</a></li>
        {% endfor %}
    </ul> -->
</body>
</html>
