<!DOCTYPE html>
<html>
<head>
    <title>Player Comparison</title>
    <style>
        .stat-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .stat-bar {
            height: 20px;
            border-radius: 5px;
        }
        .player1-bar {
            background-color: blue;
        }
        .player2-bar {
            background-color: red;
        }
    </style>
</head>
<body>
    <a href="http://127.0.0.1:5000/select_game_for_player">Back to game selection</a>
    <h1>Player Comparison in {{ game_name }}</h1>
    <h2>{{ player1 }} vs {{ player2 }}</h2>

    {% for stat in player1_stats.keys() %}
        <div class="stat-container">
            <div style="width: 50%;">{{ stat }}: {{ player1_stats[stat] }}</div>
            <div class="stat-bar player1-bar" style="width: {{ player1_stats[stat] }}%;"></div>
            <div class="stat-bar player2-bar" style="width: {{ player2_stats[stat] }}%;"></div>
            <div style="width: 50%; text-align: right;">{{ player2_stats[stat] }}: {{ stat }}</div>
        </div>
    {% endfor %}

</body>
</html>
