<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Quarter</title>
    
</head>
<body>
    <h1>Select a Quarter for {{ game_name }}</h1>
    <form action="" method="post">
        {% for quarter in quarters %}
        <input type="radio" id="{{ quarter }}" name="quarter" value="{{ quarter }}">
        <label for="{{ quarter }}">{{ quarter }}</label><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>
